@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
body{
  font-family: "PT Sans", "Arial" serif;
  font-size: 22px;
  line-height: 26px;
  background: #F2F2F2;
}
.btn{
  padding: 8px 50px;
  font-family: 'inherit';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
}
.btn-primary{
  background-color: #756157;
  border-radius: 4px;
}
.btn-accent{
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
}
.list-reset{
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navigation-link{
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
}
.hero-block{
  width: 1200px;
  height: 767px;
  background-image: url(../images/index-background.jpg);
  background-repeat:no-repeat;
  text-align: center;
}
.sedona-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.advantages-description{
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}
.advantages-title{
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
}
.advantages-item-lightblue{
  background: rgba(131, 179, 211, 0.2);
}
.advantages-item-blue{
  background: #82B3D3;
}
.advantages-item-white{
  background: rgba(131, 179, 211, 0.12);
}
.interest{
  width: 1200px;
  height: 406px;
  background: #FFFFFF;
  text-align: center;
}
.interest-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}
.subscribe{
  height: 415px;
  text-align: center;
  color: #FFFFFF;
  background-image: url(../images/subscribe.png)
}
.subscribe-title{
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}
.contacts-phone{
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}
.main-inner{
  background-image: url(../images/inner-background.jpg);
  background-repeat: no-repeat;
}
.inner-header-title{
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}
.breadcrumbs-link{
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.selection{
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.control{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}
.hotel-card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}
.hotel-card-link{
  text-decoration: none;
}
.pagination-link{
  color: #ffffff;
  background: #82B3D3;
  width: 60px;
  height: 60px;
  border-radius: 4px;
}
.pagination-current{
  background-color: #F2F2F2;
  color: #000000;
}
.pagination-link-point{
  background-color: #ffffff;
  color: #000000;
}
