@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  min-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

.page-body {
  background: #F2F2F2;
}


.page-container {
  width: 1200px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 0 0 15px rgb(0 0 0 / 20%);
}

input {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  box-shadow: none;
  letter-spacing: inherit;
  overflow: visible;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  overflow: visible;
}

:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.btn:disabled {
  background: #E5E5E5;
}

.btn-primary {
  background-color: #756157;
  border-radius: 4px;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #615048;
}

.btn-primary:active {
  opacity: 0.5;
}

.btn-navigation {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  width: 160px;
  margin-left: 5px;
  ;
}

.btn-search {
  margin-top: 54px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.btn-accent {
  margin-top: 56px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.btn-accent-form {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
}

.btn-form {
  width: 191px;
  background: #82B3D3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.btn-reset {
  margin-top: 32px;
  background-color: transparent;
}

.btn-card {
  width: 88px;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 26px;
  margin-top: 16px;
  margin-right: 20px;
  border-radius: 4px;
}

.btn-modal {
  font-style: inherit;
  width: 577px;
  height: 60px;
  border-radius: 10px;
  margin-top: 48px;
}

.btn-favorite-card {
  width: 100px;
  height: 20px;
  margin-right: 0;
  padding: 8px 20px;
}

.btn-primary-detail {
  display: inline-block;
  padding: 8px 26px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-select {
  display: inline-block;
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn-secondary {
  background-color: #82b3d3;
}

.btn-secondary:hover,
.btn-accent-form:hover,
.btn-form:hover {
  background: #68A2CA;
}

.btn-secondary:active,
.btn-accent-form:active,
.btn-form:active {
  opacity: 0.5;
}

.btn-green {
  background: #7DB54F;
  padding-left: 16px;
}

.btn-green:focus,
.btn-green:hover {
  background: #6C9E42;
}

.btn-green:active {
  opacity: 0.5;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 30px;


}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
  margin-right: 70px;
  align-items: center;

}

.navigation-item-user {
  margin-right: 20px;
  align-items: center;
}

.navigation-logo {
  display: block;
  margin-left: 70px;
  width: 138px;
  height: 64px;
  z-index: 5;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon-heart {
  padding: 22px 12px;
  align-items: center;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
}

.navigation-link-user {
  padding: 20px 16px;
}

.main-page {
  flex-grow: 1;
}

.hero-block {
  height: 485px;
  background-image: url("../images/index-background.jpg");
  background-repeat: no-repeat;
}

.sedona-title {
  width: 620px;
  margin-left: 290px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 69px;
  text-transform: uppercase;
  text-align: center;
}

.welcome-logo {
  margin: 51px 371px 20px;
}

.reasons {
  width: 651px;
  margin-left: 275px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advanteges {
  margin-top: 90px;
}

.advanteges-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 384px;
}

.advantages-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 384px;
}

.advantages-description {
  width: 230px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-description-white {
  color: #FFFFFF;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
  width: 175px;
  margin-top: 103px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-white {
  margin-top: 92px;
  color: #FFFFFF;
}

.advantages-item-lightblue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background: #82B3D3;
}

.advantages-title-icons {
  margin-top: 30px;
}

.advantages-description-icons {
  margin-top: 30px;
  text-align: center;
}

.advantages-icons {
  display: block;
  width: 75px;
  height: 72px;
  margin-top: 80px;
  margin-left: 163px;
}


.interest {
  background: #FFFFFF;
  text-align: center;
  padding: 96px 304px;
}

.interest-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.line {
  width: 60px;
  margin: 30px auto 0 auto;
  border-bottom: solid 2px rgba(255, 255, 255, 0.3);
}

.line-other {
  width: 60px;
  margin: 30px auto 0 auto;
  border-bottom: solid 2px rgba(0, 0, 0, 0.3);
}

.best-offers {
  width: 592px;
  margin: 20px auto 0 auto;
}

.subscribe {
  padding: 96px 258px 105px;
  text-align: center;
  color: #FFFFFF;
  background-color: #FFFFFF;
  background-size: 100% 100%;
  background-image: url("../images/subscribe.jpg");
  background-repeat: no-repeat;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.field {
  width: 452px;
  height: 28px;
  margin: 0;
  padding: 12px 20px;
  font-family: inherit;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.information {
  width: 475px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  margin: 20px 105px 0;
}

.appointment-form-mail {
  display: flex;
  margin-top: 54px;
}

.contacts-phone {
  margin-left: 41px;
  text-align: center;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;
  margin-left: 40px;
}

.catalog-hero-block {
  padding: 35px 70px 70px;
  margin: 0 auto;
  background-color: #FFFFFF;
  background-image: url("../images/inner-background.jpg");
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 4px 0;
  padding: 0;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 11px;
  text-decoration: none;
}

.bredcrumbs-item:not(:last-child) {
  margin-right: 11px;
}

.sorting {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  background-color: #FFFFFF;
}

.catalog-title {
  min-width: 538px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 6px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  border: none;
  margin-top: 40px;
  width: 1060px;
  height: 160px;
}

.accommodation-filter-group {
  margin-left: 54px;
}

.infrastructure-filter-list,
.accommodation-filte-list {
  margin-top: 25px;
}

.infrastructure-filter-title {
  padding: 0;
}

.infrastructure-filter-group {
  margin: 0;
}

.selection {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.filter-group {
  width: 150px;
  height: 157px;
  border: none;
  padding-left: 0;
}

.price {

  position: relative;
  border: none;
  width: 288px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 111px;
}

.min-max {
  position: absolute;
  width: 17px;
  height: 24px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  opacity: 0.3;
}

.min-choice {
  left: 122px;
  top: 45px;
}

.max-choice {
  right: 36px;
  top: 45px;
}

.price-form {
  margin-top: 32px;
}

.btn-choice {
  display: flex;
  flex-direction: column;
  margin-left: 49px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  display: flex;
  width: 292px;
  height: 49px;
  margin-right: 70px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.select-control:hover,
.select-control:focus,
.select-control:active {
  border: 2px solid #68A2CA;
  border-radius: 4px;
}

.select-control:disabled {
  border: 2px solid #3F5E72;
  border-radius: 4px;
}

.sorting {
  display: flex;
  margin: 50px 70px 20px 70px;
}

.sortyng-type {
  margin-right: auto;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-differ {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 70px;
}

.hotels-card {
  display: inline-grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px min-content auto min-content min-content auto;
  border: 1px solid #e6e6e6;
  padding: 20px 20px 0;
  gap: 16px 20px;
}

.hotels-link {
  grid-column: 1 / -1;
}

.hotels-link img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hotels-title {
  font-weight: 700;

  color: #000000;
  text-decoration: none;
  grid-column: 1 / -1;
  word-break: break-word;
}

.hotels-name,
.hotels-price {
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotels-price {
  text-align: end;
}

.rating {
  display: flex;
  width: 140px;
  padding-top: 10px;
}

.rating-star {
  width: 18px;
  height: 17px;
  padding-right: 6px;
}

.rating span {
  background-image: url("../images/icons/star-icon.svg");
  background-repeat: no-repeat;
}

.rating-number {
  font-size: 16px;
  line-height: 35px;
  color: #333;
  text-transform: uppercase;
  background-color: #f2f2f2;
  width: 140px;
  min-height: 37px;
  text-align: center;
  margin: 0;
  padding: 0;
  border-radius: 4px;
}

.names {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;

}

.hotels-card:last-child {
  margin-top: 20px;
}


.pagination {
  display: flex;
  flex-wrap: wrap;
  margin: 84px 0 0 70px;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;

}

.pagination-link {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-link:hover,
.pagination-link:focus {
  background: #68A2CA;
  border: 1px solid #82B3D3;
}

.pagination-number {
  position: absolute;
  top: 11px;
  left: 22px;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-link-point {
  background: #FFFFFF;
  color: #000000;
  top: 11px;

}

.page-footer {
  display: flex;
  margin: 0 auto;
  padding: 45px 70px 35px;
  align-items: center;
}

.subscribe-catolog {
  background: #FFFFFF;
  color: #000000;
  margin-top: 60px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
}

.footer-social-vk {
  background-image: url("../images/icons/vk-icon.svg");
}
.footer-social-vk:hover{
  background: #68A2CA;
}
.footer-social-tg {
  background-image: url("../images/icons/telegram-icon.svg");
}

.footer-social-ut {
  background-image: url("../images/icons/youtube-icon.svg");
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}


.range {
  margin-top: 9px;
}

.range-scale {
  margin-top: 36px;
  position: relative;
  height: 4px;
  background-color: #FFFFFF;
}

.range-bar {
  position: absolute;
  width: 226px;
  height: 4px;
  background-color: #FFFFFF;
}

.range-bar-max {
  width: 287px;
  opacity: 0.3;
}

.range-toggle {
  position: absolute;
  background: #FFFFFF;
  border: 4px solid #FFFFFF;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

.navigation-heart {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  text-align: center;
  color: #FFFFFF;
  padding: 5px 5px 4px 5px;
  background-color: #7DB54F;
  border-radius: 50%;
  content: "";
  left: calc(35% - 11px/2 + 7.5px);
  top: calc(50% - 10px/2 - 15px);
}

.range-input {
  width: 121px;
  height: 46px;
  padding-left: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  margin-top: 26px;
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.range-input:active {
  background: #F2F2F2;
  border: 2px solid #000000;
}

.range-input:focus {
  border: solid #83B3D3;
  background: #E6E6E6;

}

.range-input-max {
  margin-left: 2px;
}

.range-toggle:hover {
  background-color: #FFFFFF;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.range-toggle:active,
.range-toggle:focus {
  border: 3px solid #83B3D3;
  border-radius: 5px;
}

.range-wrapper-inputs {
  display: flex;
}

.toggle-min {
  left: -5px;
  top: -8px;
}

.toggle-max {
  left: 207px;
  top: -8px;
}

.control-mark {
  position: relative;
  display: block;
  background: #FFFFFF;
  border-radius: 4px;
  height: 20px;
  width: 20px;
}

.control-label {
  margin-left: 16px;
}

.control {
  display: flex;
  margin-bottom: 16px;
}

.control:hover .control-mark {
  opacity: 0.6;
}

.control:active .control-mark {
  opacity: 0.3;
}

.control:focus .control-mark {
  border: 3px solid #83B3D3;
}


.control-input[type="checkbox"]:checked + .control-mark::before {
  background-image: url("../images/icons/mark-icon.svg");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  height: 10px;
  width: 12px;
  left: 4px;
  top: 5px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked + .control-mark::before {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  content: "";
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.modal-container {
  position: fixed;
  display: flex;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}

.modal-container {
  /* display: none; */
}

.modal {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background: #FFFFFF;
box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
border-radius: 30px;
}

.modal-date {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.modal-content {
  min-width: 577px;
  margin: 0;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 63px;
  right: 53px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 50%;
  border: none;
  background-image: url("../images/icons/close-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.modal-title {
  margin: 0 0 63px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.view-input {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  background: #F2F2F2;
  border-radius: 4px;
  border: none;
}

.date-form-field {
  margin-left: 14px;
  width: 440px;
  height: 44px;
}

.number-form-field {
  margin-left: 46px;
  width: 31px;
  height: 48px;
}

.title-form {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.field-group-number {
  width: 247px;
  height: 48px;
}

.description-date {
  margin: 0 0 23px 137px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}

.description-date-past {
  color: #FF5757;
}

.choice-people {
  display: flex;
}

.field-group {
  margin: 0;
  position: relative;
}

.tooltip {
  position: absolute;
  margin-left: 4px;
  width: 26px;
  height: 26px;
}

.tooltip-toggle {
  border: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  display: block;
}

.tooltip-icon {
  width: 100%;
  height: 100%;
  display: block;
}

.tooltip-text {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  padding: 15px 18px 18px 22px;
  width: 256px;
  background: #333333;
  color: #FFFFFF;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  bottom: 100%;
  margin-top: 6px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  display: none;
}

.tooltip-toggle:hover + .tooltip-text,
.tooltip-toggle:focus + .tooltip-text {
  display: block;
}

.tooltip-text:after {
  content: '';
  background-image: url("../images/icons/tolltip-arrow-icon.svg");
  width: 19px;
  height: 9px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -119px;
}
.minus{
  width: 40px;
height: 48px;
background: #F2F2F2;
padding: 14px 10px;
}
.modal-button-minus{
  width: 40px;
  height: 48px;

}
