@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background: #FFFFFF;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  padding: 8px 50px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: none;
}

.btn-primary {
  background-color: #756157;
  border-radius: 4px;
}

.btn-navigation {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 34px;
  width: 160px;
  height: 36px;
  margin: 0;
}

.btn-search {
  margin-top: 54px;
}

.btn-accent {
  background: #82B3D3;
  border-radius: 0 4px 4px 0;
}

.btn-form {
  width: 191px;
  height: 36px;
  background: #82B3D3;
  border-radius: 4px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}

.btn-reset {
  margin-top: 32px;
  background-color: transparent;
}

.btn-card {
  width: 88px;
  height: 20px;
  font-size: 15px;
  line-height: 20px;
  padding: 8px 26px;
  margin-top: 16px;
  margin-right: 20px;
  border-radius: 4px;
}

.btn-favorite-card {
  width: 100px;
  height: 20px;
  margin-right: 0;
  padding: 8px 20px;
}

.list-reset {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 507px;
  margin: 0;
  padding: 0;
}

.navigation-user {
  max-width: 270px;
  margin-left: auto;
  margin-right: 70px;
  align-items: center;
}

.navigation-item {
  margin-right: 20px;
  align-items: center;
}

.navigation-logo {
  display: block;
  margin-left: 70px;
  width: 138px;
  height: 64px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.navigation-icon-heart {
  padding: 22px 12px;
  align-items: center;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 16px;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  font-weight: 700;
  text-transform: capitalize;
  text-align: center;
  text-decoration: none;
}

.main-page {
  flex-grow: 1;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.hero-block {
  min-height: 485px;
  background-image: url(../images/index-background.jpg);
  background-repeat: no-repeat;
}

.sedona-title {
  height: 72px;
  width: 672px;
  margin-left: 290px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  margin-top: 69px;
  text-transform: uppercase;
  text-align: center;
}

.welcome-logo {
  padding: 51px 371px 20px;
}

.reasons {
  height: 26px;
  width: 651px;
  margin-left: 275px;
  margin-top: 25px;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advanteges-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.advantages-item {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  height: 384px;
}

.advantages-image {
  display: block;
  margin: 0;
  padding: 0;
  width: 800px;
  height: 384px;
}

.advantages-description {
  width: 230px;
  height: 63px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-description-white {
  color: #FFFFFF;
}

.advantages-title {
  font-size: 24px;
  width: 175px;
  height: 56px;
  margin-top: 92px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  text-transform: uppercase;
}

.advantages-title-white {
  color: #FFFFFF;
}

.advantages-item-lightblue {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-blue {
  background: #82B3D3;
}

.advantages-title-icons {
  margin-top: 30px;
}

.advantages-description-icons {
  margin-top: 6px;
}

.advantages-icons {
  display: block;
  width: 75px;
  height: 72px;
  margin-top: 80px;
  margin-left: 163px;
}

.line {
  width: 60px;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
}

.interest {
  background: #FFFFFF;
  text-align: center;
  padding: 96px 304px;
}

.interest-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.best-offers {
  width: 592px;
  height: 52px;
  margin: 20px auto 0 auto;
}

.subscribe {
  padding: 96px 258px 104px;
  text-align: center;
  color: #FFFFFF;
  background-image: url(../images/subscribe.png);
  background-repeat: no-repeat;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 0;
}

.information {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
}

.contacts-phone {
  margin-left: 41px;
  text-align: center;
  width: 720px;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  color: #000000;
}

.htmlacademy-link {
  display: block;
  width: 115px;
  height: 33px;
}

.catalog-hero-block {
  padding: 35px 70px 70px;
  margin: 0 auto;
  background-image: url(../images/inner-background.jpg);
  background-repeat: no-repeat;
}

.inner-header-title {
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #FFFFFF;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.breadcrumbs-link {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-right: 11px;
  text-decoration: none;
}

.bredcrumbs-item:not(:last-child) {
  margin-right: 11px;
}

.sorting {
  display: flex;
  margin-top: 50px;
}

.catalog-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.select-control {
  width: 292px;
  height: 49px;
}

.filter {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border: none;
  margin-top: 40px;
  width: 1060px;
  height: 160px;
}

.selection {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}

.filter-group {
  width: 150px;
  height: 157px;
  border: none;
}

.price {
  border: none;
  width: 288px;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.price-form {
  margin-top: 32px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.select-control {
  display: flex;
  width: 292px;
  height: 49px;
  margin-left: 192px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.sorting {
  display: flex;
  margin: 50px 70px 40px 70px;
}

.sortyng-type {
  margin-right: auto;
}

.card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.card-grid-differ {
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
}

.hotel-card-image-link {
  margin: 0;
}

.hotel-card-image {
  width: 300px;
  height: 212px;
  padding: 20px 20px 0;
}

.hotel-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 11px 20px 20px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  margin: 0;
}

.hotel-card-name {
  margin-top: 16px;
  margin-right: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  width: 140px;
  height: 21px;
}

.hotel-card-price {
  width: 140px;
  height: 21px;
  margin-top: 16px;
  text-align: right;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  margin: 0;
  margin-left: 70px;
  margin-bottom: 80px;
  padding: 0;
  gap: 20px;
}

.hotel-stars {
  width: 140px;
  height: 37px;
  background-image: url(../images/icons/star-icon.svg);
  background-repeat: repeat-x;
  margin-right: 20px;
}

.hotel-raiting {
  width: 140px;
  height: 37px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  background: #F2F2F2;
  border-radius: 4px;
}

.pagination {
  display: flex;
  margin-left: 70px;
  padding: 0;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  text-align: center;
  width: 60px;
  height: 60px;
  color: #FFFFFF;
  background: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-current {
  background: #F2F2F2;
  color: #000000;
}

.pagination-link-point {
  background: #FFFFFF;
  ;
  color: #000000;
}

.page-footer {
  display: flex;
  margin: 0 auto;
  padding: 45px 70px 35px;
  align-items: center;
}

.subscribe-catolog {
  background: #FFFFFF;
  color: #000000;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  width: 142px;
  margin: 0;
  padding: 0;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-link {
  display: block;
  width: 47.33px;
  height: 40px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
}

.footer-social-vk {
  background-image: url("../images/icons/vk-icon.svg");
}

.footer-social-tg {
  background-image: url("../images/icons/telegram-icon.svg");
}

.footer-social-ut {
  background-image: url("../images/icons/youtube-icon.svg");
}

.footer-social-item:nth-child(3n) {
  margin-right: 0;
}

.htmlacademy-link {
  display: block;
  background-image: url("../images/icons/html-academy-icon.svg");
}
